[submodule "sample-data"]
	path = build/data
	url = https://source.dab.arknet.ch/fmorgner/libdabdecode-sample-data.git
[submodule "common"]
	path = common
	url = https://source.dab.arknet.ch/dab-data/libdabcommon.git
